$color-fg-menu-item: #5e6278;
// $color-bg-menu-item: #d4d4d4;
$color-bg-menu-item: #f7f9fb;
$color-fg-category-item: #6d89cb;

.menu_item {
  cursor: pointer;
  position: relative;
  margin-right: 2rem;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: $color-fg-menu-item;
  transition: all 0.3s;
  &:hover {
    background: $color-bg-menu-item;
  }

  @media screen and (max-width: 1024px) {
    margin: 1rem auto;
    width: 50%;
  }
}

.menu_active {
  background: $color-bg-menu-item;
}
