@use "../UIElements/UITheme" as *;

.navbar {
  background: white;
  height: 4.5rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  user-select: none;
  z-index: 5;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  // border-bottom: 1px solid rgb(211, 211, 211);

  @media screen and (max-width: 1024px) {
    height: 4rem;
  }

  .menubar {
    display: flex;
    align-items: center;

    .hamburger {
      margin-left: 20px;
      display: none;
      cursor: pointer;

      svg {
        font-size: 2rem;
        color: $darkGray;
      }

      @media screen and (max-width: 1024px) {
        display: inline-block;
      }
    }

    .logo {
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      @media screen and (max-width: 1024px) {
        img {
          width: 68px;
          height: 51px;
        }
        h1 {
          font-size: 1.25rem;
        }
      }

      img {
        width: 80px;
        height: 60px;
      }

      h1 {
        font-weight: 400;
        color: $lightBlue;
      }
    }
  }

  .navbtn {
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    .navmenu {
      margin-left: 50px;
      display: flex;
      align-items: center;
    }
  }
}

.navside {
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;

  .navmobile {
    transform: translateX(0);
  }
}
