.landing {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 4.5rem);
  // height: 100vh;
  .landing-image {
    // background-color: aqua;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 90%;
    }
  }

  .landing-text {
    // background-color: blueviolet;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 1rem;
    }
  }
}

.products {
  height: 400px;
  background-color: #e5ffef;

  .title {
    display: flex;
    justify-content: center;
    h1 {
      margin: 0.5rem auto;
      color: #112a46;
      font-weight: 300;
    }
  }
}

.company {
  height: 400px;
  // background-color: lightgray;
}
.aboutus {
  height: 400px;
  background-color: #e5ffef;

  h1 {
    color: #112a46;
    font-weight: 300;
  }
}
