.products {
  height: 400px;
  background-color: #e5ffef;

  .title {
    display: flex;
    justify-content: center;
    h1 {
      margin: 0.5rem auto;
      color: #112a46;
      font-weight: 300;
    }
  }
}

.company {
  height: 400px;
  // background-color: lightgray;
}
.aboutus {
  height: 400px;
  background-color: #e5ffef;

  h1 {
    color: #112a46;
    font-weight: 300;
  }
}
