@use "../../../shared/components/UIElements/UITheme" as *;

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

  input {
    font: inherit;
    font-size: 0.9rem;
    color: $green;
    border: 1px solid $green;
    border-radius: 2px;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
}
