$color-fg-menu-item: #000;
$color-bg-menu-item: #d4d4d4;
$green: #009036;

$lightGray: #f7f7f7;
$darkGray: #5e6278;

$lightBlue: #6d89cb;
$darkBlue: #2a4f96;

$borderGray: #e4e6ef;
$textboxGray: #aca5b7;
